body {
    margin: 0;
}

#board {
    width: 100%;
    height: 742px;
    position: relative;
    overflow: hidden; 
}
#jugador {
    background-color: rgba(255, 255, 255, 0.5); 
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    left: 250px;
}

#jugador img {
    width: 100%;
    height: 100%;
}

.HogoReinicio{
    animation: MovimientoHogo 5s linear infinite;
}

#Hogo {
    background-color: rgba(255, 255, 255, 0.5); 

    width: 60px;
    height: 90px;
    position: absolute;
    bottom: 10px;
    left: 500px;
    animation: MovimientoHogo 5s linear infinite;

}

#Hogo img {
    width: 100px;
    height: 100px;
}

#Murcielago {
    animation: MovimientoHogo 8s linear infinite;

    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    left: 500px;
    top: 350px;
}

#Murcielago img {
    width: 100%;
    height: 100%;

}
#fondo {
    background-image: url('Fondo.jpg');
    position: absolute;
    width: 200%; 
    height: 100%;
    left: 0;
    top: 0;
    animation: FondoMovimiento 6s linear infinite;

}
.fondo img {
    width: 100%;
    height: 100%;
}
#jugadorSaltar {
    position: absolute;
    top: 600px;
    left:5%; 
    transform: translateX(-50%);
    border: none;
    background: none;
    cursor: pointer;
    z-index: 999;
}
#jugadorSaltar img {
    width: 100px;
    height: 100px;
}
.jugadorSaltar{
    animation: jugadorSaltar 1s linear infinite ;
}
#BotonPausa{
    position: absolute;
    top: 0px;
    left:50px; 
    transform: translateX(-50%); 
    border: none;
    background: none;
    cursor: pointer; 
    z-index: 999; }

#BotonPausa img{
    width: 80px;
    height: 80px;
    top: 0px;
}
#BotonPlay{
    position: absolute;
    top: 0px;
    left:150px; 
    transform: translateX(-50%); 
    border: none;
    background: none;
    cursor: pointer; 
    z-index: 999; }
#BotonPlay img{
    width: 100px;
    height: 100px;
    top: 0px;
}

#BotonConfiguracion{
    position: absolute;
    top: 0px;
    right:-30px; 
    transform: translateX(-50%); 
    border: none;
    background: none;
    cursor: pointer; 
    z-index: 999; }

#BotonConfiguracion img{
    width: 100px;
    height: 100px;
    top: 0px;
}

#BotonReanudar{
    position: absolute;
    top: 0px;
    left:250px; 
    transform: translateX(-50%); 
    border: none;
    background: none;
    cursor: pointer; 
    z-index: 999; }
#BotonReanudar img{
    width: 90px;
    height: 90px;
    top: 0px;
}
.Contenedor_contador {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
}

@keyframes FondoMovimiento {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes jugadorSaltar {
    0% {
        bottom: 0px;

    }
    30%, 70% {
        bottom: 300px;

    }

}
@keyframes MovimientoHogo {
    0% {
        transform: translateX(1800%);
    }

    100% {
        transform: translateX(-900%);
    }
}
@keyframes MovimientoMur {
    0% {
        transform: translateX(600%);
    }
    
    100% {
        transform: translateX(-500%);
    }
}



/*/MENÚ NIVLES*/

.menu {
    position: relative;
    display: inline-block;
}

.menu-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    border-bottom: 1px solid #ccc;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.menu-list li a:hover {
    background-color: #f4f4f4;
}

